/************************************/
/*              LAYOUT              */
/************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #EDEDED;
    color: #777;
}
body a{
    color: #777;
}
header nav, footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer {
    align-items: center;
}
footer div {
    display: flex;
    flex-direction: column;
}
header nav {
    height: 100%;
}
.contenedorPrimero {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 10px;
}
.contenedor-segundo {
    margin-top: 24px;
}
header ul, footer ul {
    list-style: none;
}
header ul li, footer ul li {
    display: inline;
}
.contenedorPrimero h1 {
    white-space: nowrap;
    margin: 10px;
   
}
.contenedorPrimero .busqueda {
    white-space: nowrap;
    width: 70%;
    min-width: 200px;
    margin: 5px 5px 5px 20px;   
}
a {
    text-decoration: none;
    padding: 10px;
}
header {
    background-color: cornflowerblue;    
    width: 100%;
    color: #fff;
    /* height: 80px; */
    /* position: fixed; */
    /* top: 0; */
    /* z-index: 1000; */
}
header a, header ul{
    color: white;
}
footer {
    background: #ddd;
    color: #777; 
    /* position: fixed; */
    /* bottom: 0; */
    height: 100px;
    width: 100%;
}
footer a {
    color: #777;
}
footer p {
    margin: 10px;
    font-size: 12px;
}
main {
    min-height: 455px;
}

/************************************/
/*              INPUTS              */
/************************************/
input[type="text"], 
input[type="password"], 
input[type="search"], 
textarea {
    border: 1px solid #DDD;
    outline-color: skyblue;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
input[type="search"] {
    /* width: 60%; */
    margin: 0;
}
textarea {
    resize: none;
    height: 200px;
}
input[type="submit"], .button-link, .button-comprar {
    background-color: cornflowerblue;
    color: #FFF;
    cursor: pointer;
    font-size: 18px;
    padding: 8px 12px;
    transition: 0.5s background-color;
    border: none;
    outline: none;
}
input[type="submit"]:hover, .button-link:hover, .button-comprar:hover {
    background-color:steelblue;
}

/************************************/
/*          CONTENEDORES            */
/************************************/
.center {
    margin: 40px auto;;
    width: 80%;
}
.center-small {
    margin: auto;;
    max-width: 430px;
    padding: 40px;
}
form {
    margin: 50px 0;
}

/************************************/
/*             INGRESO              */
/************************************/
.nuevo-usuario {
    margin-bottom: 20px;
}

/************************************/
/*            PRODUCTOS             */
/************************************/
.productos li {
    display: inline;
}
.grid-productos {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}
.item-grid-productos {
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 15px 20px 0 rgba(0,0,0,.08), 0 1px 4px 0 rgba(0,0,0,.08);
}
.item-grid-productos:hover {
    transform: scale(1.1);
    transition: all 0.25s;
    box-shadow: 0 25px 20px 0 rgba(0,0,0,.16), 0 -1px 2px 0 rgba(0,0,0,.1);
}
.img-grid-productos {
    padding: 10px 0px;
    height: 250px;
}
.detalle-grid-productos {
    border-top: solid #DDD 1px;
    padding: 10px;
    font-weight: bold;
}
.detalle-grid-productos span, .precio {
    color: steelblue;
    font-weight: bold;
}
.productos {
    margin: 10px;
}
.productos h3 {
    display: inline;
}
.productos a, .crear-cuenta {
    color: cornflowerblue;
}
.productos a:hover, .crear-cuenta:hover {
    color: crimson;
}

/************************************/
/*            PRODUCTO              */
/************************************/
.detalle-imagen {
    /* min-width: 100px; */
    width: 350px;
    border-radius: 5px;
}
.detalle-descripcion {
    width: 60%;
    padding: 20px;
}
.detalle-descripcion .precio {
    border-top: solid #DDD 1px;
    border-bottom: solid #DDD 1px;
    padding: 20px 0;
    margin: 10px 0;
}
.detalle-descripcion .stock {
    border-bottom: solid #DDD 1px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.detalle-descripcion p {
    margin-bottom: 30px;
}

/************************************/
/*          NAV PRODUCTOS           */
/************************************/
.order-nav {
    list-style: none;
    font-size: 14px;
    margin: 20px 0;
}
.active {
    font-weight: bold;
    color: steelblue !important;
}

/************************************/
/*            PAGINADOR             */
/************************************/
.paginador {
    list-style: none;
    margin: 40px;
    display: block;
    text-align: center;
}
.paginador li{
    display: inline-block;
}
.paginador a:hover {
    background-color: #DDD;
}

/************************************/
/*             MENSAJES             */
/************************************/
.msj-error {
    text-align: center;
    color: #d40e21;
    background-color: #f8d7da;
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.msj-warning {
    text-align: center;
    color: #856404;
    background-color: #fff3cd;
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.msj-ok {
    text-align: center;
    color: #155724;
    background-color: #d4edda;
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.msj-info {
    text-align: center;
    color: #0c5460;
    background-color: #d1ecf1;
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/************************************/
/*           NAV USUARIO            */
/************************************/
.nav-user {
    display: none;
    position: absolute;
    padding: 5px 0;
    margin-top: 8px;
    background: #fff;
    width: 200px;
    right: 100px;
    border-radius: 5px;
    box-shadow: 0 15px 20px 0 rgba(0,0,0,.08), 0 1px 4px 0 rgba(0,0,0,.08);
}
.desplegable:hover .nav-user {
    display: block;
    height: auto;

}
.nav-user a {
    display: block;
    padding: 8px 24px;
    color:  #777;
    cursor: pointer;
    transition: background-color 0.4s;

}
.separador {
    display: block;
    border-top: 1px solid #eee;
    margin: 8px 0;    
}
.nav-user a:hover {
    background-color:  #ededed;
}
/************************************/
/*             NAV PANEL            */
/************************************/
.panel-users {
    background-color: #fff;
}
.nav-panel {
    float: left;
    width: 20%;
    padding: 5px 0;
}
.nav-panel a{
    display: block;
    padding: 8px 24px;
    color:  #777;
    cursor: pointer;
    box-sizing: content-box;
    transition: background-color 0.4s;
}
.nav-panel a:hover {
    background-color:  #ededed;
    /* border-left: 6px solid cornflowerblue;
    padding-left: 18px; */
}
.nav-active {
    background-color:  #ededed;
    border-left: 6px solid cornflowerblue;
    color: cornflowerblue !important;
    padding-left: 18px !important;
}
.container-panel {
    width: 80%;
    margin-left: 20%;
    padding: 10px;
    background-color: #f8f8f8;

    min-height: 455px;
}